VersionJS/animation.dtd


<!ELEMENT animation (init?,background?,objects,programs) >
<!ATTLIST animation width CDATA #IMPLIED >
<!ATTLIST animation height CDATA #IMPLIED >
<!ATTLIST animation speed (very_slow|slow|normal|fast|very_fast) "normal" >

<!ELEMENT init (start_button) >
<!ELEMENT start_button EMPTY >
<!ATTLIST start_button text CDATA #IMPLIED >
<!ATTLIST start_button x CDATA #IMPLIED >
<!ATTLIST start_button y CDATA #IMPLIED >
<!ATTLIST start_button present (true|false) #IMPLIED >

<!ELEMENT background (#PCDATA) >

<!ELEMENT objects (object_text|object_image|object_rectangle|object_polygon|object_circle|object_ellipse|object_landmark)+ >

<!ELEMENT object_text (#PCDATA) >
<!ATTLIST object_text text CDATA #REQUIRED >
<!ATTLIST object_text font CDATA #REQUIRED >
<!ATTLIST object_text color CDATA #IMPLIED >
<!ATTLIST object_text padding CDATA #IMPLIED >
<!ATTLIST object_text width CDATA #IMPLIED >
<!ATTLIST object_text height CDATA #IMPLIED >
<!ATTLIST object_text halignment (left|center|right) #IMPLIED >
<!ATTLIST object_text valignment (top|bottom|center|baseline) #IMPLIED >
<!ATTLIST object_text x CDATA #IMPLIED >
<!ATTLIST object_text y CDATA #IMPLIED >
<!ATTLIST object_text background_color CDATA #IMPLIED >
<!ATTLIST object_text background_transparent (true|false) #IMPLIED >
<!ATTLIST object_text border_color CDATA #IMPLIED >
<!ATTLIST object_text border_transparency (true|false) #IMPLIED >
<!ATTLIST object_text border_size CDATA #IMPLIED >
<!ATTLIST object_text layer CDATA #IMPLIED >
<!ATTLIST object_text visible (true|false) #IMPLIED >
<!ATTLIST object_text opacity CDATA #IMPLIED >
<!ATTLIST object_text angle CDATA #IMPLIED >

<!ELEMENT object_image (#PCDATA) >
<!ATTLIST object_image width CDATA #IMPLIED >
<!ATTLIST object_image height CDATA #IMPLIED >
<!ATTLIST object_image image CDATA #REQUIRED >
<!ATTLIST object_image x CDATA #IMPLIED >
<!ATTLIST object_image y CDATA #IMPLIED >
<!ATTLIST object_image background_color CDATA #IMPLIED >
<!ATTLIST object_image background_transparent (true|false) #IMPLIED >
<!ATTLIST object_image border_color CDATA #IMPLIED >
<!ATTLIST object_image border_transparency (true|false) #IMPLIED >
<!ATTLIST object_image border_size CDATA #IMPLIED >
<!ATTLIST object_image layer CDATA #IMPLIED >
<!ATTLIST object_image visible (true|false) #IMPLIED >
<!ATTLIST object_image opacity CDATA #IMPLIED >
<!ATTLIST object_image angle CDATA #IMPLIED >

<!ELEMENT object_rectangle (#PCDATA) >
<!ATTLIST object_rectangle width CDATA #REQUIRED >
<!ATTLIST object_rectangle height CDATA #REQUIRED >
<!ATTLIST object_rectangle round CDATA #IMPLIED >
<!ATTLIST object_rectangle x CDATA #IMPLIED >
<!ATTLIST object_rectangle y CDATA #IMPLIED >
<!ATTLIST object_rectangle background_color CDATA #IMPLIED >
<!ATTLIST object_rectangle background_transparent (true|false) #IMPLIED >
<!ATTLIST object_rectangle border_color CDATA #IMPLIED >
<!ATTLIST object_rectangle border_transparency (true|false) #IMPLIED >
<!ATTLIST object_rectangle border_size CDATA #IMPLIED >
<!ATTLIST object_rectangle layer CDATA #IMPLIED >
<!ATTLIST object_rectangle visible (true|false) #IMPLIED >
<!ATTLIST object_rectangle opacity CDATA #IMPLIED >
<!ATTLIST object_rectangle angle CDATA #IMPLIED >

<!ELEMENT object_polygon (#PCDATA) >
<!ATTLIST object_polygon coord_x CDATA #REQUIRED >
<!ATTLIST object_polygon coord_y CDATA #REQUIRED >
<!ATTLIST object_polygon x CDATA #IMPLIED >
<!ATTLIST object_polygon y CDATA #IMPLIED >
<!ATTLIST object_polygon background_color CDATA #IMPLIED >
<!ATTLIST object_polygon background_transparent (true|false) #IMPLIED >
<!ATTLIST object_polygon border_color CDATA #IMPLIED >
<!ATTLIST object_polygon border_transparency (true|false) #IMPLIED >
<!ATTLIST object_polygon border_size CDATA #IMPLIED >
<!ATTLIST object_polygon layer CDATA #IMPLIED >
<!ATTLIST object_polygon visible (true|false) #IMPLIED >
<!ATTLIST object_polygon opacity CDATA #IMPLIED >
<!ATTLIST object_polygon angle CDATA #IMPLIED >

<!ELEMENT object_circle (#PCDATA) >
<!ATTLIST object_circle radius CDATA #REQUIRED >
<!ATTLIST object_circle x CDATA #IMPLIED >
<!ATTLIST object_circle y CDATA #IMPLIED >
<!ATTLIST object_circle background_color CDATA #IMPLIED >
<!ATTLIST object_circle background_transparent (true|false) #IMPLIED >
<!ATTLIST object_circle border_color CDATA #IMPLIED >
<!ATTLIST object_circle border_transparency (true|false) #IMPLIED >
<!ATTLIST object_circle border_size CDATA #IMPLIED >
<!ATTLIST object_circle layer CDATA #IMPLIED >
<!ATTLIST object_circle visible (true|false) #IMPLIED >
<!ATTLIST object_circle opacity CDATA #IMPLIED >
<!ATTLIST object_circle angle CDATA #IMPLIED >

<!ELEMENT object_ellipse (#PCDATA) >
<!ATTLIST object_ellipse width CDATA #REQUIRED >
<!ATTLIST object_ellipse height CDATA #REQUIRED >
<!ATTLIST object_ellipse x CDATA #IMPLIED >
<!ATTLIST object_ellipse y CDATA #IMPLIED >
<!ATTLIST object_ellipse background_color CDATA #IMPLIED >
<!ATTLIST object_ellipse background_transparent (true|false) #IMPLIED >
<!ATTLIST object_ellipse border_color CDATA #IMPLIED >
<!ATTLIST object_ellipse border_transparency (true|false) #IMPLIED >
<!ATTLIST object_ellipse border_size CDATA #IMPLIED >
<!ATTLIST object_ellipse layer CDATA #IMPLIED >
<!ATTLIST object_ellipse visible (true|false) #IMPLIED >
<!ATTLIST object_ellipse opacity CDATA #IMPLIED >
<!ATTLIST object_ellipse angle CDATA #IMPLIED >

<!ELEMENT object_landmark (#PCDATA) >
<!ATTLIST object_landmark width CDATA #REQUIRED >
<!ATTLIST object_landmark height CDATA #REQUIRED >
<!ATTLIST object_landmark scale_x CDATA #REQUIRED >
<!ATTLIST object_landmark scale_y CDATA #REQUIRED >
<!ATTLIST object_landmark unit_x CDATA #REQUIRED >
<!ATTLIST object_landmark unit_y CDATA #REQUIRED >
<!ATTLIST object_landmark x CDATA #IMPLIED >
<!ATTLIST object_landmark y CDATA #IMPLIED >
<!ATTLIST object_landmark background_color CDATA #IMPLIED >
<!ATTLIST object_landmark background_transparent (true|false) #IMPLIED >
<!ATTLIST object_landmark border_color CDATA #IMPLIED >
<!ATTLIST object_landmark border_transparency (true|false) #IMPLIED >
<!ATTLIST object_landmark border_size CDATA #IMPLIED >
<!ATTLIST object_landmark layer CDATA #IMPLIED >
<!ATTLIST object_landmark visible (true|false) #IMPLIED >
<!ATTLIST object_landmark opacity CDATA #IMPLIED >
<!ATTLIST object_landmark angle CDATA #IMPLIED >

<!ELEMENT object_grid (#PCDATA) >
<!ATTLIST object_grid lines CDATA #REQUIRED >
<!ATTLIST object_grid columns CDATA #REQUIRED >
<!ATTLIST object_grid line_height CDATA #REQUIRED >
<!ATTLIST object_grid column_width CDATA #REQUIRED >
<!ATTLIST object_grid x CDATA #IMPLIED >
<!ATTLIST object_grid y CDATA #IMPLIED >
<!ATTLIST object_grid background_color CDATA #IMPLIED >
<!ATTLIST object_grid background_transparent (true|false) #IMPLIED >
<!ATTLIST object_grid border_color CDATA #IMPLIED >
<!ATTLIST object_grid border_transparency (true|false) #IMPLIED >
<!ATTLIST object_grid border_size CDATA #IMPLIED >
<!ATTLIST object_grid layer CDATA #IMPLIED >
<!ATTLIST object_grid visible (true|false) #IMPLIED >
<!ATTLIST object_grid opacity CDATA #IMPLIED >
<!ATTLIST object_grid angle CDATA #IMPLIED >

<!ELEMENT object_table (#PCDATA) >
<!ATTLIST object_table values CDATA #REQUIRED >
<!ATTLIST object_text font CDATA #REQUIRED >
<!ATTLIST object_table line_height CDATA #REQUIRED >
<!ATTLIST object_table column_width CDATA #REQUIRED >
<!ATTLIST object_text color CDATA #IMPLIED >
<!ATTLIST object_text padding CDATA #IMPLIED >
<!ATTLIST object_table x CDATA #IMPLIED >
<!ATTLIST object_table y CDATA #IMPLIED >
<!ATTLIST object_table background_color CDATA #IMPLIED >
<!ATTLIST object_table background_transparent (true|false) #IMPLIED >
<!ATTLIST object_table border_color CDATA #IMPLIED >
<!ATTLIST object_table border_transparency (true|false) #IMPLIED >
<!ATTLIST object_table border_size CDATA #IMPLIED >
<!ATTLIST object_table layer CDATA #IMPLIED >
<!ATTLIST object_table visible (true|false) #IMPLIED >
<!ATTLIST object_table opacity CDATA #IMPLIED >
<!ATTLIST object_table angle CDATA #IMPLIED >

<!ELEMENT object_copy (#PCDATA) >
<!ATTLIST object_copy idcopy CDATA #REQUIRED>
<!ATTLIST object_copy text CDATA #IMPLIED >
<!ATTLIST object_copy font CDATA #IMPLIED >
<!ATTLIST object_copy color CDATA #IMPLIED >
<!ATTLIST object_copy padding CDATA #IMPLIED >
<!ATTLIST object_copy width CDATA #IMPLIED >
<!ATTLIST object_copy height CDATA #IMPLIED >
<!ATTLIST object_copy halignment (left|center|right) #IMPLIED >
<!ATTLIST object_copy valignment (top|bottom|center|baseline) #IMPLIED >
<!ATTLIST object_copy image CDATA #IMPLIED >
<!ATTLIST object_copy round CDATA #IMPLIED >
<!ATTLIST object_copy coord_x CDATA #IMPLIED >
<!ATTLIST object_copy coord_y CDATA #IMPLIED >
<!ATTLIST object_copy radius CDATA #IMPLIED >
<!ATTLIST object_copy scale_x CDATA #IMPLIED >
<!ATTLIST object_copy scale_y CDATA #IMPLIED >
<!ATTLIST object_copy unit_x CDATA #IMPLIED >
<!ATTLIST object_copy unit_y CDATA #IMPLIED >
<!ATTLIST object_copy lines CDATA #REQUIRED >
<!ATTLIST object_copy columns CDATA #REQUIRED >
<!ATTLIST object_copy line_height CDATA #REQUIRED >
<!ATTLIST object_copy column_width CDATA #REQUIRED >
<!ATTLIST object_copy x CDATA #IMPLIED >
<!ATTLIST object_copy y CDATA #IMPLIED >
<!ATTLIST object_copy background_color CDATA #IMPLIED >
<!ATTLIST object_copy background_transparent (true|false) #IMPLIED >
<!ATTLIST object_copy border_color CDATA #IMPLIED >
<!ATTLIST object_copy border_transparency (true|false) #IMPLIED >
<!ATTLIST object_copy border_size CDATA #IMPLIED >
<!ATTLIST object_copy layer CDATA #IMPLIED >
<!ATTLIST object_copy visible (true|false) #IMPLIED >
<!ATTLIST object_copy opacity CDATA #IMPLIED >
<!ATTLIST object_copy angle CDATA #IMPLIED >

<!ELEMENT programs (program+) >

<!ELEMENT program (setx|sety|setxy|visible|click|label|moveto|wait|sleep|state|goto|trigger|up|down|left|right|angle|setproperty|blink|stop|center|centerx|centery)+ >
<!ATTLIST program assigned_to CDATA #REQUIRED >

<!ELEMENT setx EMPTY >
<!ATTLIST setx x CDATA #REQUIRED >

<!ELEMENT sety EMPTY >
<!ATTLIST sety y CDATA #REQUIRED >

<!ELEMENT setxy EMPTY >
<!ATTLIST setxy x CDATA #REQUIRED >
<!ATTLIST setxy y CDATA #REQUIRED >

<!ELEMENT visible EMPTY >
<!ATTLIST visible value (true|false) #REQUIRED >

<!ELEMENT click EMPTY >

<!ELEMENT label EMPTY >
<!ATTLIST label value CDATA #REQUIRED >

<!ELEMENT moveto EMPTY >
<!ATTLIST moveto x CDATA #REQUIRED >
<!ATTLIST moveto y CDATA #REQUIRED >
<!ATTLIST moveto dx CDATA #REQUIRED >
<!ATTLIST moveto dy CDATA #REQUIRED >
<!ATTLIST moveto delay CDATA #REQUIRED >

<!ELEMENT wait EMPTY >
<!ATTLIST wait value CDATA #REQUIRED >

<!ELEMENT sleep EMPTY >
<!ATTLIST sleep value CDATA #REQUIRED >

<!ELEMENT state EMPTY >
<!ATTLIST state value CDATA #REQUIRED >

<!ELEMENT trigger EMPTY >
<!ATTLIST trigger object CDATA #REQUIRED >
<!ATTLIST trigger value CDATA #REQUIRED >

<!ELEMENT goto EMPTY >
<!ATTLIST goto value CDATA #REQUIRED >

<!ELEMENT up EMPTY >
<!ATTLIST up y CDATA #REQUIRED >
<!ATTLIST up dy CDATA #REQUIRED >

<!ELEMENT down EMPTY >
<!ATTLIST down y CDATA #REQUIRED >
<!ATTLIST down dy CDATA #REQUIRED >

<!ELEMENT left EMPTY >
<!ATTLIST left x CDATA #REQUIRED >
<!ATTLIST left dx CDATA #REQUIRED >

<!ELEMENT right EMPTY >
<!ATTLIST right x CDATA #REQUIRED >
<!ATTLIST right dx CDATA #REQUIRED >

<!ELEMENT angle EMPTY >
<!ATTLIST angle degrees CDATA #REQUIRED >

<!ELEMENT setproperty EMPTY >
<!ATTLIST setproperty object CDATA #REQUIRED >
<!ATTLIST setproperty property CDATA #REQUIRED >
<!ATTLIST setproperty value CDATA #REQUIRED >

<!ELEMENT blink EMPTY >
<!ATTLIST blink times CDATA #REQUIRED >
<!ATTLIST blink delay CDATA #REQUIRED >

<!ELEMENT stop EMPTY >

<!ELEMENT center EMPTY >

<!ELEMENT centerx EMPTY >

<!ELEMENT centery EMPTY >
